In [1]:
import pandas as pd
import lux
import sys
from lux.vis.Vis import Vis

<frozen importlib._bootstrap>:228: RuntimeWarning: scipy._lib.messagestream.MessageStream size changed, may indicate binary incompatibility. Expected 56 from C header, got 64 from PyObject

In [2]:
# the system path
sys.path.append('/Users/Ray/codeup-data-science/fifa')
 
# importing the function
from acquire import get_fifa_data

In [3]:
import sys
 
# the system path
sys.path.append('/Users/Ray/codeup-data-science/fifa')
 
# importing split
import prepare, model

In [4]:
#acquire
df = get_fifa_data()

/Users/Ray/codeup-data-science/fifa/Ray/acquire.py:13: DtypeWarning: Columns (81,85,104) have mixed types. Specify dtype option on import or set low_memory=False.
  return pd.read_csv(filename)

In [5]:
#prepare
df = prepare.prepped_data(df)

Before dropping nulls, 142079 rows, 111 cols
After dropping nulls. 131489 rows. 66 cols
After cleaning the data and adding additional columns there are: 98804 rows. 83 cols

In [6]:
df.set_data_type({'year_joined':'quantitative'})

/opt/homebrew/anaconda3/lib/python3.9/site-packages/lux/executor/PandasExecutor.py:448: UserWarning:
Lux detects that attributes ['club_joined', 'year'] may be temporal.
To display visualizations for these attributes accurately, please convert temporal attributes to Datetime objects.
For example, you can convert a Year attribute (e.g., 1998, 1971, 1982) using pd.to_datetime by specifying the `format` as '%Y'.

Here is a starter template that you can use for converting the temporal fields:
	df['club_joined'] = pd.to_datetime(df['club_joined'], format='<replace-with-datetime-format>')
	df['year'] = pd.to_datetime(df['year'], format='<replace-with-datetime-format>')

See more at: https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.to_datetime.html
If year is not a temporal attribute, please use override Lux's automatically detected type:
	df.set_data_type({'year':'quantitative'})

In [7]:
df.intent = ['seniority','wage_eur']

In [ ]:
df

In [ ]:
intent = ["wage_eur"]
vis = Vis(intent,df)
vis

In [ ]:
from lux.vis.VisList import VisList
vc = VisList(["wage_eur","?"],df)
vc